<%= stylesheet_link_tag 'local.css' %>

<div class="grid-container">
  <% (1..42).each do |row| %> 
    <div class="grid-item">
      <%= form_tag(pvp_local_action_path) do %>
        <%= button_tag("Button #{row}", name: 'red_button', value: "button_#{row}", class: 'red-button') %>
      <% end %>
    </div>
  <% end %>
</div>


<script>
  // JavaScript code in your view or asset file
  // const form1 = document.querySelector('.form-1');
  // const form2 = document.querySelector('.form-2');
  // const button1 = document.querySelector('.button-1');
  // const button2 = document.querySelector('.button-2');
  // const button3 = document.querySelector('.button-3');
  // const button4 = document.querySelector('.button-4');

  const redButtons = Array.from(document.querySelectorAll('.button-1'));
  const blueButtons = Array.from(document.querySelectorAll('.button-2'));

  redButtons.forEach(button => {
    button.addEventListener('click', () => {
      redButtons.forEach(button => {
        button.style.display = 'none';
      })
      blueButtons.forEach(button => {
        button.style.display = 'block';
      })
    });
  })

  blueButtons.forEach(button => {
    button.addEventListener('click', () => {
      blueButtons.forEach(button => {
        button.style.display = 'none';
      })
      redButtons.forEach(button => {
        button.style.display = 'block';
      })
    });
  })
</script>




