.red-button {
  background-color: red;
  padding: 10px;
}

.button-2 {
  background-color: blue;
  display: none;
}

.button-3 {
  background-color: red;
  padding: 10px;
}

.button-4 {
  background-color: blue;
  display: none;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}