.red-button {
  background-color: red;
  opacity: 0; 
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.blue-button {
  background-color: blue;
  display: none;
  opacity: 0; 
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.red-button:hover {
  visibility: visible; /* Visible on hover */
  opacity: 0.75; /* Optionally set opacity to 1 to make it fully visible */
}

.blue-button:hover {
  visibility: visible; /* Visible on hover */
  opacity: 0.75; /* Optionally set opacity to 1 to make it fully visible */
}
.used-red-space {
  background-color: red;
  display: block;
  border: none;
  opacity: 1;
}

.used-blue-space {
  background-color: blue;
  display: block;
  border: none;
  opacity: 1;
}

.wasted-space {
  display: none;
  border: none;
  visibility: hidden;
  opacity: 0;
}

.redCircles {
  border-radius: 50%;
  background-color: red;
  width: 2vw;
  height: 2vh;
  position: absolute;
}

.blueCircles {
  border-radius: 50%;
  background-color: blue;
  width: 2vw;
  height: 2vh;
  position: absolute;
}