.red-button {
  background-color: red;
}

.blue-button {
  background-color: blue;
  display: none;
}

.redCircles {
  border-radius: 50%;
  background-color: red;
  width: 2vw;
  height: 2vh;
  position: absolute;
}

.blueCircles {
  border-radius: 50%;
  background-color: blue;
  width: 2vw;
  height: 2vh;
  position: absolute;
}

.resizable-button1 {
  top:22vh;
  left:20vw;
  position:absolute;
  width: 2vw;
  height: 8vh;
 
}

.resizable-button2 {
  top:25vh;
  left:17vw;
  position:absolute;
  width: 8vw;
  height: 2vh;
 
}